body {
    margin: 0;
    background-color: dimgray;
    font-family: "Comic Sans MS";
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    user-select: none;
}
.border {
    background-color: white;
    box-shadow: 3px 3px 10px 4px black;
    position: absolute;
    left: 100px;
    top: 100px;
    border-radius: 12px;
    border: 2px solid black;
    padding: 0px 5px 5px 5px;    
        min-width:10vw; 
    min-height:15vh;
    animation-duration: 3.1s;
}
.border:hover{
background: radial-gradient(rgba(255, 255, 255, 1) 20%, rgba(180, 180, 180, 1) 100%);
}
.theline{
    background-color: darkgray;
    width:100%;
    height: 2.5vh;
    border-radius: 6px 6px 0px 0px;
    border: 1px solid black;
    padding-right: 10px;
    padding-bottom: 5px;
    position: relative;
    left: -6px;
}
.basf {
    position: absolute;
}

.hd {
    width: 100vw;
 background: linear-gradient(90deg,rgba(209, 172, 50, 1) 31%, rgba(30, 103, 120, 1) 70%, rgba(0, 0, 0, 1) 100%);
    margin-top: 0px;
    text-align: center;
    height: 8vh;
    color: white;
    position: fixed;
}
.his {
    top: 300px;
}
@keyframes opacity {
    0% {opacity: 100%}
    20% {opacity: 100%}
    100% {opacity: 0%}
}
.maxhe {
    max-height: 40vh;
}

@media (max-width: 600px){
    .border{
                min-width:calc(10vw/3); 
    min-height:5vh;
    font-size: small;
    }
    footer{
        min-width:100%;
    }
}
.rrg button{
    width:20%;
    height: 95%;
    border: none;
    background-color: transparent;
    color:white;
    font-family: Comic Sans MS;
    font-size: medium;
}
.rrg button:hover{
    background-color: white;
    cursor: pointer;
    color:black;
}
header div{
    height: inherit;
    justify-content: center;
    display: flex;
    

}
.lo {
    align-items: center;
}
img{
    max-height: 100%;
    border-radius: 20000px;
}
.lrg {
    align-items: center;
}
.lrg button{
    width:30%;
    height: 60%;
    border-radius: 10px;
    font-size: medium;
    font-family: Comic Sans MS;
    border: none;
    box-shadow: 0px 4px 1px 1px dimgray;
}
.lrg button:hover{
    transform: translatey(-3px);
    box-shadow: 0px 6px 1px 1px dimgray;
}
.lrg button:hover:active{
    transform: translatey(1px);
    box-shadow: 0px 2px 1px 1px dimgray;
}

footer{
    width:60%;
    height: 45vh;
    background-color: #330066;
    position: absolute;
    bottom: -60vh;
    display: flex;
    justify-content: center;
    
}
.ad{
    user-select: none;
    position: relative;
    width: 75%;
    height: 10vh;
background: linear-gradient(90deg,rgba(250, 233, 125, 1) 44%, rgba(105, 4, 4, 1) 92%);
border-radius: 10px;
display: flex;
align-items: center;
font-size: larger;
top: -5vh;
box-shadow: 0px 10px 5px 3px rgba(0,0,0,0.6);
}
.ad p button, .sub button{
    width: 50% ;
    margin-left: 5%;
    height: 5vh;
    border-radius: 2000px;
    background: linear-gradient(270deg,rgba(250, 233, 125, 1) 44%, rgba(105, 4, 4, 1) 92%);
    font-weight: bold;
    font-size: medium;
    border:none;
box-shadow: 0px 2px 1px 1px rgba(105, 4, 4, 1), 
            0 4px 1px 1px rgba(169, 106, 58, 1),
            0 6px 1px 1px rgba(250, 233, 125, 1)

}
.ad p button:hover, .sub button:hover{
    transform: translatey(-3px);
box-shadow: 0px 3px 1px 1px rgba(105, 4, 4, 1), 
            0 5px 1px 1px rgba(169, 106, 58, 1),
            0 7px 1px 1px rgba(250, 233, 125, 1)

}
.ad p button:hover:active, .sub button:hover:active{
    transform: translatey(1px);
box-shadow: 0px 1px 1px 1px rgba(105, 4, 4, 1), 
            0 3px 1px 1px rgba(169, 106, 58, 1),
            0 5px 1px 1px rgba(250, 233, 125, 1)

}
.fcb{
    position: inherit;
    color:white;
    width:100%;
    display: flex;
    align-items: center;
    height: 90%;
}
.sub button{
    border-radius: 0;
    width: 45%;
    margin-left: 0;
    float:left;
}
.sub input{
    width: 50%;
    float:left;
    margin-top: 3px;
    height:5vh;
    border:none;
}
.ft{
    position: inherit;
    width:100%;
    height: 10%;
    position: absolute;
    bottom:0;
}
.bar{
    width: calc(100% - 2px);
    height: 0px;
    border: 1px solid white;
}
.other{
    display: flex;
    align-items: center;
    height: 100%;
        padding: 0 1% 0 1%;
}
.other div{
    width: 10%;
    float:left;
    color:white;
    font-size: small;
}
div.sal{
    width:15%;
}
div.leg{
    width:5%;
}
div.cop{
    width:50%;
    float:right;
}
.leftlog{
    width:50%;
    float:left;
}
.riglog{
    width:50%;
    float:left;
}
.border.log{
    min-width: 50vw;

}